/* ---------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- BASE --- --- --- --- --- --- --- --- --- */
/* ---------------------------------------------------------------------------- */

/* --- COMMON BREAKPOINTS --- */
/* Laptop screens */
@media only screen and (max-height: 900px) {}
/* Medium devices / tablets 770 - 1030 width*/
@media only screen and (max-width: 1030px) {}
/* Medium devices / tablets 500px - 770px */
@media only screen and (max-width: 770px) {}
/* Small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {}

/* --- custom font --- */
@font-face {
    font-family: "Violet Sans";
    src: url('assets/fonts/violet-sans.ttf') format("truetype");;
    font-weight: normal;
}

/* --- ROOT --- */
:root {
    /* main colors */
    --main-background:      #ffffff;
    --main-gradient-bg:     linear-gradient(45deg, #EEEEEE, #DCDCDC);
    --checkered-pattern:    linear-gradient(rgba(255, 255, 255, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.7) .1em, transparent .1em);
    --main-box-color:       #F1F1F1;
    --main-text-color:      #2B2727;
    --main-accent:          #FD6738;
    --inset-color:          #BDBCBA;
    --secondary-grey:       #E7E7E7;
    --dark-grey:            #7a7a7a;
    /* font & others */
    --main-font:            normal 12px 'Violet Sans', serif;
    --border-radius:        15px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-gradient-bg:     linear-gradient(45deg, #3b3b3b, #161616);
        --main-background:  #000000;
        --main-box-color:   #343232;
        --main-text-color:  #fff;
    } 
}

[data-theme="light"] {
    color-scheme: light;
    --main-background:      #ffffff;
    --main-gradient-bg:     linear-gradient(45deg, #EEEEEE, #DCDCDC);
    --checkered-pattern:    linear-gradient(rgba(255, 255, 255, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.7) .1em, transparent .1em);
    --main-box-color:       #EDECE9;
    --main-text-color:      #2B2727;
}

[data-theme="dark"] {
    color-scheme: dark;
    --main-background:      #141414;
    --main-gradient-bg:     linear-gradient(45deg, #3b3b3b, #161616);
    --checkered-pattern:    linear-gradient(rgba(75, 75, 75, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(75, 75, 75, 0.7) .1em, transparent .1em);
    --main-box-color:       #343232;
    --main-text-color:      #fff;
}

/* ------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- MAIN ELEMENTS --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------------- */
html, body {
    margin: 0px;
    padding: 0px;
    font: var(--main-font);
    color: var(--main-text-color);
    background: var(--main-gradient-bg);
  }
.App {
    height: 100svh;
    width: 100svw;
    margin: 0px;
    padding: 0px;
    background-image: var(--checkered-pattern);
    background-size: 3em 3em; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#root {
    margin: 0px;
    padding: 0px;
}

.root-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dashboard-layout {
    height: 90svh;
    width: 70svw;
    background-color: var(--main-background);
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 22px;
    margin: 0px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    margin-top: 2px;
    text-transform: uppercase;
    color: var(--dark-grey);
}
.main-screen {
    width: 100%;
    display: flex;
    gap: 10px;
}
.top-menu-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.toggle-button {
    height: 15px;
    width: 30px;
    background-color: var(--dark-grey);
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-right: 7.5px;
    cursor: pointer;
}
.toggle-button-circle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
    margin: 2.5px;
}
.lightModeCircle {
    margin-right: auto;
}
.darkModeCircle {
    background-color: var(--main-accent);
    margin-left: auto;
}
p {
    font: var(--main-font);
    color: var(--main-text-color);
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font: 'Violet Sans';
    color: var(--main-text-color);
    text-transform: uppercase;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 64px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}

.big-title-96 {
    font-size: 96px;
    margin-bottom: 30px;
}
.small-p {
    font-size: 8px;
}

.link {
    text-decoration: none;
    color: var(--main-text-color);
    font: var(--main-font);
}

button, .simple-button {
    border: 1px solid var(--main-text-color);
    border-radius: var(--border-radius);
    background: none;
    background-color: none;
    outline: none;
    color: var(--main-text-color);
    font: var(--main-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
    margin: 10px;
    width: fit-content;
}
.simple-button {
    border: none;
    background-color: var(--main-accent);
    color: white;
}
button:hover, .simple-button:hover {
    background-color: var(--main-text-color);
    color: var(--main-background);
    padding: 5px 50px;
    transition: padding 1s;
}
.icon {
    aspect-ratio: 1;
    width: auto;
    object-fit:contain;
}
.icon-10 {
    height: 10px;
    margin-right: 5px;
}
.icon-15 {
    height: 15px;
    margin-right: 7.5px;
}
.icon-20 {
    height: 20px;
    margin-right: 10px;
}
.icon-30 {
    height: 30px;
    margin-right: 15px;
}
.icon-30-no-margin {
    height: 30px;
    margin-right: 0;
}
.icon-40 {
    height: 40px;
    margin-right: 20px;
}
.icon-svg-path {
    fill: var(--dark-grey);
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-30 {
    margin-top: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.relative {
    position: relative;
}

/* Laptop screens */
@media only screen and (max-height: 900px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 12px;
    }
    h4 {
        font-size: 10px;
    }
    h5, p {
        font-size: 10px;
    }
}
/* portrait orientation */
@media (orientation: portrait) {
    .root-layout {
        width: 90svw;
    }
}

/* ------------------------------------------------- */
/* --- --- --- --- --- SIDE MENU --- --- --- --- --- */
/* ------------------------------------------------- */
.main-side-menu {
    height: calc(90svh - 60px);
    width: 15svw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mini-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    text-align: center;
}
.profile-photo {
    height: 80px;
    aspect-ratio: 1/1;
    width: auto;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 20px;
}
.menu-options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

/* extends link */
.side-menu-link, .side-menu-link-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    width: calc(100% - 15px);
    text-transform: uppercase;
    font-size: 16px;
}
.selected {
    --_size: 20px;
    background-color: var(--main-background);
    border-radius: var(--_size) 00px 0px var(--_size);
    position: relative;
}
/* The newly created pseudo element for inverted border radius*/
.selected::before, .selected::after {
    content: "";
    position: absolute;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    bottom: calc(0px - var(--_size));
    right: 0px;
    width: var(--_size);
    aspect-ratio: 1;
    background-image: 
        radial-gradient(circle at 100% 100%, transparent var(--_size), var(--main-background) var(--_size));
}
  .selected::after {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    bottom: 0px;
    top: calc(0px - var(--_size));
}
@keyframes changeWidth {
    0% {width: 100%}
    50% {width: 0%}
    100% {width: 100%}
}
.social-media-links {
    display: flex;
}
.copyright-text-div {
    justify-self: flex-end;
}
.app-name {
    text-transform: uppercase;
    font-size: 10px;
    color: var(--inset-color);
}

/* ---------------------------------------------------- */
/* --- --- --- --- --- ALL SECTIONS --- --- --- --- --- */
/* ---------------------------------------------------- */
.section-layout {
    margin: 0px;
    padding: 0px;
}
main {
    width: 100%;
    height: calc(90svh - 52px);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
}
.section {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    /* overflow: hidden; */
    height: calc(90svh - 52px);
    width: 100%;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    /* slightly bigger height for animation in later section */
}

.box {
    border-radius: var(--border-radius);
    background-color: var(--main-box-color);
    padding: var(--border-radius);
}

.orange {
    background-color: var(--main-accent);
}
.row {
    display: flex;
    width: 100%;
    gap: 10px;
}
.row-1fr {
    height: calc((90svh - 52px)/6);
}
.row-1-5fr {
    height: calc((90svh - 52px)/4);
}
.row-2fr {
    height: calc((90svh - 52px)/3);
}
.row-2-5fr {
    height: calc((90svh - 52px)/2.4);
}
.row-2-5fr-10 {
    height: calc((90svh - 52px)/2.4 - 10px);
}
.row-3fr {
    height: calc((90svh - 52px)/2);
}
.row-3-5fr {
    height: calc((90svh - 52px)/1.71);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.long {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.long p, .long h2, .long h3, .long h4, .long h5, .long h6 {
    display: inline;
}
.grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hor-scroll {
    width: 55svw;
    max-width: 55svw;
    overflow-x: scroll;
}
.vert-scroll {
    overflow-x: clip;
    overflow-y: scroll;
}
.small-padding {
    padding: 7px;
    border-radius: 10px;
}
.image-header {
    /* height: 25svh;
    width: 100%; */
    border-radius: var(--border-radius);
    position: relative;
    
}
.main-title-div {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.main-title-div h1 {
    display: inline;
    color: white;
}

.image-header-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.image-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--main-accent);
    opacity: 0.8;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
}
.date-div {
    position: absolute;
    top: 0px;
    right: 100px;
    background-color: var(--main-background);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    padding: 8px;
}
/* inverted border radius for date-div */
.date-div::before, .date-div::after {
    --_size: 30px;
    content: "";
    position: absolute;
    top: 0px;
    right: calc(0px - var(--_size) + 1px);
    width: var(--_size);
    aspect-ratio: 1;
    background-image: 
        radial-gradient(circle at 100% 100%, transparent var(--_size), var(--main-background) var(--_size));  
}
.date-div::after {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    left: calc(0px - var(--_size) + 1px);
}
.date-number {
    font-size: 40px;
    color: var(--main-accent);
    margin: auto;
    text-align: center;
}
.bottom-right-corner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: end;
}
.top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}
/* -------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- FORMS --- --- --- --- --- --- --- --- ------------ */
/* -------------------------------------------------------------------------------------- */
.form-title {
    margin-bottom: 30px;
}
.form-label {
    font: var(--main-font);
    letter-spacing: 2px;
    color: var(--dark-grey);
    margin-bottom: 5px;
    font-size: 10px;
}
.form-input {
    height: 25px;
    border-radius: 5px;
    min-width: 250px;
    border: 1px solid var(--secondary-grey);
    margin-bottom: 15px;
    color: var(--dark-grey);
}
.error-input {
    border-color: red;
}
/* -------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- OVERVIEW --- --- --- --- --- --- --- --- --- */
/* -------------------------------------------------------------------------------- */
.welcome-sign {
}

.welcome-sign h2 {
    display: flex;
    align-content: center;
}
.welcome-sign p {
    margin-top: 15px;
}
.welcome-sign button {
    margin: 0px;
    margin-top: auto;
}
.overview-numbers-column {
    width: 250px;
    display: flex;
}
.overview-numbers {
    font-size: 24px;
    font-weight: 600;
}
.overview-numbers-column p {
    align-self: flex-end;
    text-align: end;
    margin-right: 10px;
    margin-bottom: 4px;
}
.graph {
    max-height: 30svh;
    width: auto;
    object-fit: contain;
}
.circle-graph {
    max-height: 150px;
}
.bar-outer-div {
    margin: 15px 0px 1% 0px;
}

.bar-labels-div {
    display: flex;
    justify-content: space-between;
    
}
.bar-inner-div {
    position: relative;
}
.bar {
    width: 100%;
    height: 3px;
    background-color: var(--inset-color);
    border-radius: 2.5px;
    
}
.value {
    position: absolute;
    background-color: var(--main-text-color);
    top: 0px;
}

/* ------------------------------------------------------------------------------------ */
/* --- --- --- --- --- --- --- --- --- WEEKLY GOALS --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------------ */
.weekly-goals {}
.weekly-goals .row .orange {
    flex-grow: 1;
}
.weekly-goals .row .orange p, h2 {
    
}
.top-justified {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* ---------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- DAILY LOGS --- --- --- --- --- --- --- --- --- */
/* ---------------------------------------------------------------------------------- */
/* extends section */
.day-logs {
    width: 100%;
    grid-template-rows: 2fr 1fr 1fr 2fr;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc((90svh - 52px)/6 - 20px);
    width: 60px;
    min-width: 60px;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 0px;
}
.card .bar-outer-div {
    margin: 5px 0px 5px 0px;
}
.bottom {
    align-self: flex-end;
    justify-self: flex-end;
    text-align: end;
}
.bottom h3 {
    font-size: 18px;
}
.pie-chart-box {
    position: relative;
    padding: 10px;
}
.pie-chart-text {
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 2;
}
/* ------------------------------------------------------------------------------------ */
/* --- --- --- --- --- --- --- --- --- MEAL TRACKER --- --- --- --- --- --- --- --- --- */
/* ------------------------------------------------------------------------------------ */
.kcal-intake-box, .kcal-burnt-box {
    width: 50%;
    overflow-x: hidden;
    flex-grow: 1;
}
.record {
    height: 50px;
    min-width: 100%;
    background-color: var(--secondary-grey);
    display: flex;
    margin: 10px 5px;
    border-radius: 25px;
}
.meal-icon, .activity-icon {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.record-description {
    padding: 10px;
}
.record-calories {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
.record-calories h3 {
    font-size: 16px;
    font-weight: bold;
}
.grey-text {
    color: var(--dark-grey);
    font-size: 10px;
}

/* --- meal form --- */
.meal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}
.category-choice {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.category-choice-button {
    display: flex;
    padding: 10px 10px;
    border: none;
    background-color: var(--main-text-color);
    border-radius: 10px;
    margin: 0px;
}
.category-choice-button:hover {
    padding: 10px 10px;
    cursor: pointer;

}
.category-choice-button img {
    margin: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(106%) contrast(101%);
}

.grid-2-2-vert {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-auto-flow: column;
    margin: 0px;
    margin-top: 20px;
    gap: 0px 10px;
    width: 100%;
}
.grid-2-2-vert input {
    width: 50%;
    min-width: 180px;
    
}
.grid-2-3-hor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-top: 0px;
}
.meal-form .form-label {
    font-size: 9px;
    letter-spacing: 1px;
    align-self: flex-start;
    margin-bottom: 7px;
}
.meal-form .form-input {
    height: 20px;
    margin: 0px;
    margin-bottom: 5px;
}
.meal-form .simple-button {
    margin: 0px;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- ACTIVITY TRACKER --- --- --- --- --- --- --- --- --- */
/* ---------------------------------------------------------------------------------------- */
.activity-tracker {

}
.activity-tracker .category-choice-button button {
    padding: 5px;
}
/* -------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- SETTINGS --- --- --- --- --- --- --- --- --- */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- LOGIN/REGISTER --- --- --- --- --- --- --- --- --- */
/* -------------------------------------------------------------------------------------- */
.login-page {
    display: flex;
}
.small-box {
    height: 70svh;
    width: 400px;
    background-color: var(--main-background);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small-box-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-box-color);
    border-radius: 5px;
    position: relative;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-page .simple-button {
    min-width: 250px;
    margin: 10px 0px;

}
.login-page .grey-text {
    margin-top: 10px;
    text-decoration: underline;
}

/* ----------------------------------------------------------------------------- */
/* --- --- --- --- --- --- --- --- --- OTHER --- --- --- --- --- --- --- --- --- */
/* ----------------------------------------------------------------------------- */
/* --- INFORMATION --- */
.information, .help-section {
    overflow-y: scroll;
}
.information h3, .information h2, .help-section h3, .help-section h2 {
    padding: 0 15px;
}
.information-p {
    padding: 15px;
}



/* --- GRAPHS --- */
/* line/bar graph */
.MuiLineElement-root {

}
.MuiChartsAxis-bottom {
    stroke-width: 0.3px;
    filter: invert(51%) sepia(5%) saturate(16%) hue-rotate(15deg) brightness(92%) contrast(86%);
}
.MuiBarAxis-bottom {
    filter: invert(51%) sepia(5%) saturate(16%) hue-rotate(15deg) brightness(92%) contrast(86%);
}
.MuiChartsAxis-tick {
    display: none;
}
.MuiChartsAxis-line {
    display: none;
}

/* --- CALENDAR --- */
.MuiDateCalendar-root {

}

.MuiPickersDay-root, .MuiPickersDay-today {

}
.Mui-selected {
    background-color: var(--main-accent);
}
.Mui-hover {
    display: none;
}
.Mui-focused {
    /* not sure whether works*/
}
.MuiBarElement-root {

}



/* --- SCROLLBAR --- */

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: yellow;
}
  
/* Track */
::-webkit-scrollbar-track {
width: 0px;
background: transparent;
background-clip: padding-box;
}

/* Handle */
/* not visible because of width - red left for monitoring */
::-webkit-scrollbar-thumb {
width: 0px;
/* background: red; */
background: transparent;
background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
width: 5px;
background: #adadad;
background-clip: padding-box;
}

  /* --- INSPECTIONS --- */
/* * {
  outline: 1px solid #f00 !important;
} */


/* -------------------------------------------------- */
/* --- --- --- --- --- ANIMATIONS --- --- --- --- --- */
/* -------------------------------------------------- */

/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
/* clouds-moving 180s linear infinite; 
animation: dekstopMessagePopup 6s ease-in-out forwards;
*/